body{
    background-image:linear-gradient(140deg,#58d9ec,#a382cf,#f0a1bf,#fff);
    background-size:500%;
    animation: fanimado 10s infinite;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 11rem;
}
.cabecera{  
    background-color: #0000005e;  
    padding: 0.5rem 0;
    position: fixed;
    left: 0em;
    top: 0; 
    right: 0em; 
    color: white; 
    
}
#imagen{
    width:120px;
    height:120px;
    
    
}
@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.contenedor-texto{
    padding-top: 12rem;
}
section{
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;
}



section a{
    display: inline-block;
    padding: 7px 0;
    color: #000000;
    text-decoration: none;
    width: 200px;
    text-align: center;
    border: 1px solid #fcf8f8;
    background-color: #ffffffa2;
}
section h2{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
}
section p{
    font-weight: 300;
    margin-bottom: 15px;
}
section img{
    height: 40%;
    border-radius: 50px;

}
#logo{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
    flex-wrap: wrap;
    border: rgba(255, 255, 255, 0.664) 3px solid; 
}
th img{
    max-height: 50px;
    max-width: 100px;
    border-radius: 25px;
}
table th { 
    background-color: #38b1c4;
    color: rgb(2, 2, 2); 
}



.pie{
    color: #ffffff;
    background-color: #0000005e;  
    background-size:5%;
    padding: 3rem;
    text-align: center;
    margin-top: 15rem;
    
    
}

